src/build
src/CMakeCache.txt
src/cmake_install.cmake
src/CMakeFiles
Makefile
src/Release_lib/
src/Release/
src/Debug_lib/
src/Debug/
src/BitBangSE.vcxproj.user
src/BitBangSE.sdf
src/BitBangSE.v11.suo
src/bitbanglib.vcxproj.user
external
lib
tbaptista.pbxuser
tbaptista.mode1v3
src/BitBangSE.xcodeproj/project.xcworkspace/xcuserdata/tbaptista.xcuserdatad
